* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 60px;
    font-weight: 500;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 18px;
    font-weight: 400;
}

.container {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 60px 100px 0 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    text-decoration: none;
}

.header__logo-box {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 10px 0;
}

.header__logo-img {
    height: 36px;
    width: 36px;
}

.header__logo-text {
    color: black;
    font-size: 29px;
    font-weight: 500;
    margin: 0;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__nav-link {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.header__nav-button {
    font-size: 20px;
    padding: 20px 35px;
    border: 1px solid black;
    border-radius: 14px;
    background-color: transparent;
}

.welcome-banner {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 70px;
    margin-bottom: 140px;
}

.welcome-banner__content {
    display: flex;
    justify-content: space-between;
}

.welcome-banner__text {
    max-width: 531px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.welcome-banner__description {
    font-size: 20px;
    line-height: 28px;
}

.welcome-banner__button {
    font-size: 20px;
    line-height: 28px;
    padding: 20px 35px;
    align-self: flex-start;
    background: black;
    color: white;
    border: none;
    border-radius: 14px;
}

.welcome-banner__img-desktop {
    height: 515px;
    width: 600px;
}

.welcome-banner__img-mobile {
    display: none;
}

.welcome-banner__clients-desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.welcome-banner__clients-mobile {
    display: none;
}

.service {
    display: flex;
    flex-direction: column;
}

.service__header {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

.service__title {
    padding: 0 7px;
    border-radius: 7px;
    background: #B9FF66;
}

.service__description {
    width: 580px;
}

.service__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 100px;
}

.service__block {
    width: 600px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 50px;
    border-radius: 45px;
    box-shadow: 0 4px rgba(0, 0, 0);
}

.service__block.light {
    background: #F3F3F3;
}

.service__block.dark {
    background: #191A23;
}

.service__block.green {
    background: #B9FF66;
}

.service-block__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 93px;
}

.service-block__title {
    padding: 0 7px;
    border-radius: 7px;
    align-self: flex-start;
}

.service-block__title.green {
    background: #B9FF66;
}

.service-block__title.light {
    background: #F3F3F3;
}

.service-block__img {
    width: 210px;
    align-self: center;
}

.service-block__learn-more {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.service-block__learn-more-img {
    margin-right: 15px;
}

.service-block__learn-more-link {
    color: black;
}

.service-block__learn-more-link.light {
    color: white;
}

.footer {
    margin-top: auto;
    padding: 55px 60px 50px 60px;
    background: #191A23;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 45px 45px 0 0;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.footer__header {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    text-decoration: none;
}

.footer__logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__logo-img {
    height: 30px;
    width: 30px;
    filter: invert(1);
}

.footer__logo-text {
    font-size: 23px;
    font-weight: 500;
    color: white;
}

.footer__nav {
    display: flex;
    gap: 40px;
}

.footer__nav-link {
    color: white;
}

.footer__social-desktop {
    display: flex;
    gap: 20px;
}

.footer__social-mobile {
    display: none;
}

.footer__social-image {
    height: 30px;
    width: 30px;
}

.footer__form {
    display: flex;
    justify-content: space-between;
    gap: 154px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.footer__info-title {
    align-self: flex-start;
    font-size: 20px;
    background: #B9FF66;
    padding: 0 7px;
    border-radius: 7px;
}

.footer__info-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.footer__news {
    display: flex;
    gap: 20px;
    padding: 58px 40px;
    background: #292A32;
    border: none;
    border-radius: 14px;
}

.footer__news-input {
    padding: 22px 35px;
    border: 1px solid white;
    border-radius: 14px;
    background-color: transparent;
    color: white;
}

.footer__news-button {
    padding: 20px 35px;
    border: none;
    border-radius: 14px;
    font-size: 20px;
    background: #B9FF66;
    white-space: nowrap;
}

.footer__break-mobile {
    display: none;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer__copyright-text {
    display: flex;
    gap: 40px;
}

.footer__copyright-all-rights, .footer__copyright-privacy {
    color: white;
}

@media (max-width: 430px) {

    h1 {
        font-size: 43px;
        font-weight: 500;
    }

    h2 {
        font-size: 36px;
        font-weight: 500;
    }

    h3 {
        font-size: 26px;
        font-weight: 500;
    }

    h4 {
        font-size: 18px;
        font-weight: 500;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .container {
        padding: 30px 20px 0 20px;
    }

    .header__logo-box {
        gap: 12px;
        padding: 0;
    }

    .header__logo-img {
        height: 24px;
        width: 24px;
    }

    .header__logo-text {
        font-size: 20px;
        align-items: center;
    }

    .header__nav {
        display: none;
    }

    .welcome-banner {
        margin-top: 40px;
        margin-bottom: 60px;
        gap: 40px;
    }

    .welcome-banner__content {
        flex-direction: column;
    }

    .welcome-banner__title {
        font-weight: 600;
    }

    .welcome-banner__description {
        font-size: 16px;
    }

    .welcome-banner__img-desktop {
        display: none;
    }

    .welcome-banner__img-mobile {
        display: block;
        padding: 0 34px;
    }

    .welcome-banner__button {
        align-self: center;
    }

    .welcome-banner__clients-desktop {
        display: none;
    }

    .welcome-banner__clients-mobile {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -70px;
        gap: 38px;
    }

    .welcome-banner__amazon {
        margin-left: 70px;
    }

    .footer {
        width: 100vw;
        margin: auto -20px 0 -20px;
        padding: 50px 20px 30px 20px;
        border-radius: 0;
        flex-direction: column;
        gap: 37px;
    }

    .footer__container {
        gap: 37px;
    }

    .footer__header {
        flex-direction: column;
        align-items: center;
        gap: 37px;
    }

    .footer__logo-img {
        height: 24px;
        width: 24px;
    }

    .footer__logo-text {
        font-size: 19px;
    }

    .footer__nav {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .footer__nav-link {
        line-height: 24px;
        text-decoration: none;
    }

    .footer__social-desktop {
        display: none;
    }

    .footer__social-mobile {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .footer__form {
        flex-direction: column;
        gap: 37px;
    }

    .footer__info {
        gap: 37px;
    }

    .footer__info-text {
        align-items: center;
        text-align: center;
        font-size: 16px;
        gap: 15px;
    }

    .footer__info-title {
        align-self: center;
    }

    .footer__news {
        flex-direction: column;
        padding: 30px;
    }

    .footer__break-desktop {
        display: none;
    }

    .footer__break-mobile {
        display: block;
    }

    .footer__copyright-text {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}